<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>嘉福平台</title>

</head>
<body>
<div class="panel-body panel-body-shodow">
    <div class="error_404">
        <!--图片-->
        <div class="error_pic">
            <div class="bg_404"></div>
            <div class="star"></div>
            <div class="astronaut"></div>
        </div>
        <!--提示性文字-->
        <div class="tip_404">很遗憾，您访问的页面去太空啦..</div>

        <!--返回首页-->
        <div class="weui_btn_area">
            <div class="weui_btn weui_btn_plain_primary btn_blue" onclick="window.history.go(-1)">返回上一页</div>
        </div>
    </div>
</div>
</body>

<script>


</script>
</html>