<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>添加账号</title>

</head>
<body>


<!--中间部分-->

<!--信息1-->
<div class="jf_fapiao_lists">
    <!-- list 1-->
    <a class="jf_list">
        <div class="jf_list_bd">
            <p>银行户名</p>
        </div>
        <div class="jf_list_ft"> <p>李志明</p></div>
    </a>

    <!-- list 2-->
    <a class="jf_list" >
        <div class="jf_list_bd">
            <p>银行账号</p>
        </div>
        <div class="jf_list_ft"><input type="number" placeholder="请填写银行账号"></div>
    </a>

    <!--4-->
    <a class="jf_list">
        <div class="jf_list_bd">
            <p>银行名称</p>
        </div>
        <div class="jf_list_ft"><input type="text" placeholder="请填写账户所属银行名称"></div>
    </a>
</div>

<!--提示信息部分-->
<p class="add_tips">若需要添加非本人的银行账户，请发邮件至产品部并说明添加原因。</p>

<!-- 按钮 -->
<div class="jf_fabiao_btn" onclick="location='account_management.html'">
    <div class="jf_btn jf_btn_blue">确认添加</div>
</div>







</body>

<script>

</script>
</html>