<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection">
    <title>新增发票抬头</title>
</head>
<body>


<div class="recharge_balance">
    <img src="../../images/dingding/icon_warning.png">
      <span>
        <p>注意：公司规定发票抬头必须与企业名称一致。若有特殊情况，客户需要开其他名称的发票抬头。请发邮件与运营部周欣联系，并说明原因。</p>
      </span>
</div>


<!--信息1-->
<div class="jf_fapiao_lists">
    <!-- list 1-->
    <a class="jf_list">
        <div class="jf_list_bd">
            <p>申请开票企业</p>
        </div>
        <div class="jf_list_ft"> <p>上海淘略数据处理有限公司</p></div>
    </a>

    <!-- list 2-->
    <a class="jf_list" >
        <div class="jf_list_bd">
            <p>发票抬头</p>
        </div>
        <div class="jf_list_ft"> <p>上海淘略数据处理有限公司</p></div>
    </a>

    <!--4-->
    <a class="jf_list">
        <div class="jf_list_bd">
            <p>纳税人识别号</p>
        </div>
        <div class="jf_list_ft"><input type="text" placeholder="必填"></div>
    </a>
    <!--5-->
    <a class="jf_list">
        <div class="jf_list_bd">
            <p>开户行</p>
        </div>
        <div class="jf_list_ft"><input type="text" placeholder="选填"></div>
    </a>


    <a class="jf_list">
        <div class="jf_list_bd">
            <p>账号</p>
        </div>
        <div class="jf_list_ft"><input type="text" placeholder="选填"></div>
    </a>


    <a class="jf_list">
        <div class="jf_list_bd">
            <p>电话</p>
        </div>
        <div class="jf_list_ft"><input type="text" placeholder="选填"></div>
    </a>
    <a class="jf_list">
        <div class="jf_list_bd">
            <p>地址</p>
        </div>
        <div class="jf_list_ft"><input type="text" placeholder="选填，50字以内"></div>
    </a>

</div>


<!-- 按钮 -->
<div class="jf_fabiao_btn">
    <a class="jf_btn jf_btn_blue" href="application.html">保存</a>
</div>




</body>
</html>