<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>开票申请</title>


</head>
<body>

<div>
    <div class="jf_fapiao_lists">
        <!-- list 1-->

        <label class="jf_list search_company">
            <div class="jf_list_bd">
                <p class="fapiao_bussiness_type">企业名称</p>
            </div>
            <div class="jf_list_ft jf_list_arrow">
                <input class="bussiness_type_name" placeholder="请选择企业名称" readonly  id="companyname_input" onfocus="this.blur()"/>
            </div>
        </label>

        <!-- list 2-->
        <label class="jf_list">
            <div class="jf_list_bd">
                <p class="list_textinput">销售代表</p>
            </div>
            <div class="jf_list_ft"><input type="text" readonly id="sale_input"/></div>
        </label>
        <!-- list 3 -->
        <label class="jf_list">
            <div class="jf_list_bd ">
                <p class="fapiao_bussiness_type">业务类型</p>
            </div>
            <div class="jf_list_ft jf_list_arrow">
                <select>
                    <option>请选择</option>
                    <option>乐班班</option>
                    <option>福利</option>
                    <option>兼职</option>
                    <option>代购</option>
                    <option>VIP</option>
                </select>
            </div>
        </label>
        <!--4-->
        <label class="jf_list choose_company">
            <div class="jf_list_bd">
                <p class="fapiao_bussiness_type">开票公司</p>
            </div>
            <div class="jf_list_ft jf_list_arrow">
                <select>
                    <option>请选择</option>
                    <option>上海淘略数据处理有限公司</option>
                    <option>支付宝</option>
                    <option>嘉福宝</option>
                </select>
            </div>
        </label>
        <!--5-->
        <label class="jf_list fapiao_type">
            <div class="jf_list_bd  ">
                <p class="fapiao_bussiness_type">发票科目</p>
            </div>
            <div class="jf_list_ft jf_list_arrow">
                <select class="course_select" id="course_select" onfocus="appone.Init()">
                    <option>请选择</option>
                    <option>采购费</option>
                    <option>培训费</option>
                    <option>福利费</option>
                    <option>咨询服务费</option>
                    <option>会务费</option>
                    <option>技术服务费</option>
                </select>
            </div>
        </label>
        <!--6--带单位，题目超长-->
        <label class="jf_list ">
            <div class="jf_list_bd">
                <p class="list_maxmoneyinput">单张发票最大金额（元）</p>
            </div>
            <div class="jf_list_ft jf_list_text">
                <input type="tel" pattern="[0-9]" id="max_input" class="moneyinput" readonly></div>
        </label>
        <!--7-->
        <label class="jf_list ">
            <div class="jf_list_bd">
                <p class="list_minmoneyinput">最低开票金额（元）</p>
            </div>
            <div class="jf_list_ft jf_list_text"><input type="tel" id="min_input" pattern="[0-9]" class="moneyinput"
                                                        readonly>
            </div>
        </label>
        <!--8-->
        <label class="jf_list ">
            <div class="jf_list_bd">
                <p>票面税率</p>
            </div>
            <div class="jf_list_ft"><input id="tax_input" readonly type="text"/></div>
        </label>

        <label class="jf_list ">
            <div class="jf_list_bd">
                <p>发票抬头</p>
            </div>
            <div class="jf_list_ft"><input placeholder="50字以内" type="text"/></div>
        </label>

        <label class="jf_list ">
            <div class="jf_list_bd">
                <p>开票金额（元）</p>
            </div>
            <div class="jf_list_ft"><input placeholder="8位以内" type="number"/></div>
        </label>


        <label class="jf_list ">
            <div class="jf_list_bd">
                <p class="list_textinput">张数</p>
            </div>
            <div class="jf_list_ft"><input class="fapiaotitle" type="tel" pattern="[0-9]" value="1"/></div>
        </label>

        <label class="jf_list" onclick="this.getElementsByTagName('input')[0].click()">
            <div class="jf_list_bd">
                <p class="list_textinput">开票日期</p>
            </div>
            <div class="jf_list_ft"><input class="date_input date_input_one" type="date" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当日"/>
            </div>
        </label>
        <label class="jf_list ">
            <div class="jf_list_bd">
                <p class="list_textinput">申请备注</p>
                <textarea rows="3" maxlength="100" placeholder="选填，100字以内" cols="42"></textarea>
            </div>
            <div class="jf_list_ft">

            </div>
        </label>

    </div>
    <!-- 按钮 -->
    <div class="jf_fabiao_btn">
        <a class="jf_btn jf_btn_blue" href="add_payment_records.html">下一步</a>
    </div>

</div>

<!--搜索公司-->
<div id="top_search" class="top_search">
    <div class="top_search_mian">
        <a class="left goback"><img src="../../images/dingding/icon_pay_return.png"/></a>
        <div class="center">
            <label> <i class="weui_icon_search"><img src="../../images/dingding/icon_search.png"></i>
                <input type="search" placeholder="请输入查找的内容" class="search_input"/>
                <a class="weui_icon_clear" id="text_cancle">×</a>
            </label>
        </div>
        <a class="right">搜索</a>
    </div>

    <div class="company_name_lists">
        <label class="name_list company_jiayin" onclick=" jfFrameFlyShow.mainFrameHide()">
            <div>
                <input type="radio" class="aui-radio" name="searchcompany" checked="true" data-sale="谯"/>
            </div>
            <div>
                <p>上海淘略数据处理有限公司上海淘略数据处理有限公司上海淘略数据处理有限公司</p>
                <p>193648665365193648665365193648665365193648665365193648665365</p>
            </div>

        </label>

        <label class="name_list" onclick=" jfFrameFlyShow.mainFrameHide()">
            <div>
                <input type="radio" class="aui-radio" name="searchcompany" data-sale="李"/>
            </div>

            <div>
                <p>上海嘉银支付有限公司</p>
                <p>26225625632656</p>
            </div>

        </label>
        <label class="name_list" onclick=" jfFrameFlyShow.mainFrameHide()">
            <div>
                <input type="radio" class="aui-radio" name="searchcompany" data-sale="王"/>
            </div>
            <div>
                <p>支付宝</p>
                <p>4612656262555625</p>
            </div>

        </label>
        <label class="name_list" onclick=" jfFrameFlyShow.mainFrameHide()">
            <div>
                <input type="radio" class="aui-radio" name="searchcompany" data-sale="王"/>
            </div>
            <div>
                <p>淘略</p>
                <p>45245825455</p>
            </div>

        </label>
        <label class="name_list" onclick=" jfFrameFlyShow.mainFrameHide()">
            <div> <input type="radio" class="aui-radio" name="searchcompany" data-sale="王"/></div>
            <div>
                <p>上海嘉银支付有限公司</p>
                <p>496256956</p>
            </div>


        </label>
    </div>
</div>


</body>

<script type="text/javascript" src="../../js/vue.min.js"></script>
<script type="text/javascript" src="../../js/vue-resource.js"></script>

<script>


    //点击侧滑选择企业名称以及开票企业
    $('label.search_company').on('click', function () {

        jfFrameFlyShow.mainFrameShow({
            "flyTime": "0.3s",//侧拉飞入平滑时间

            "flyEleArea": "top_search",//侧拉飞入的元素class选择器

            "hideButton": "goback",//侧拉返回关闭按钮的class选择器

            hideFn: function () {

                chooseCompanyName('companyname_input','top_search');//参数一是当前需要填写的元素的ID值，参数二是当前侧拉页面的ID选择器
            }
        })
    });



    var appone = new Vue({

        el: "#course_select",
        data: {
            datas: [],
            apiURL: "../../json/pagetwoSelectData.json",
            options: []//用于存储具体数据

        },

        methods: {

            Init: function () {

                this.$http.get(this.apiURL)

                        .then(function (response) {

                            this.datas = response.data;

                            this.options = response.data.options;


                        })
                        .catch(function (response) {

                            console.log(response)

                        })
            },

            backpage: function () {/*取得相应金额以及税率值*/

                var maxmoney = document.getElementById('max_input');//当前输入最大金额

                var minmoney = document.getElementById('min_input');//当前输入的最小金额

                var tax = document.getElementById('tax_input');//当前的票面税率

                var thischooseselect = document.getElementsByClassName('course_select')[0];//选择当前select


                //获取当前正确的索引

                function getIndex() {

                    for (var i = 0; i < appone.options.length; i++) {

                        if (appone.options[i].course == thischooseselect.value) {

                            return i
                        }
                    }
                }

                var j = getIndex();

                maxmoney.value = this.options[j].max;

                minmoney.value = this.options[j].min;

                tax.value = this.options[j].tax;
            }

        }
    });


    /*当select框里的值发生变化时，改变相应值*/
    document.getElementsByClassName('course_select')[0].addEventListener('change', function () {
        appone.backpage();
        this.style.color="#4d4d4d"
    }, false)




    jfShowTips.loadingShow({'text':'数据加载中'});//loading出现

    setTimeout(function(){

        //jfShowTips.loadingRemove()


    },5000)//2s后loading删除

</script>
</html>