<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>选择收款记录</title>

</head>
<body>


<!--中间部分-->
<div class="getmoney_details_top">
    <div class="getmoney_details">
        <p class="getmoney_day">
            <span>到账日期<input type="date" class="date_input" placeholder="请输入日期"/></span>
            <span>至<input type="date" class="date_input" placeholder="请输入日期"/></span>
        </p>
        <label class="jf_list ">
            <div class="jf_list_bd">
                <p class="fapiao_bussiness_type">付款企业</p>

            </div>
            <div class="jf_list_ft"><input readonly value="1000010111-嘉银"></div>
        </label>

    </div>

    <!--收款记录-->
    <div class="getmoney_details_lists">
        <div class="getmoney_details_check">
            <input class="current_checkbox" type="checkbox"/>
            <span>只显示未关联记录</span>
        </div>
          <!--list1-->
        <label class="getmoney_details_list">
            <div>
                <p>
                    <span>付款户名：</span>
                    <span>老顽童</span>
                </p>
                <p>
                    <span>付款账号：</span>
                    <span>5682953839539539568</span>
                </p>
                <p>
                    <span>金额：</span>
                    <span>400.00</span>
                </p>
                <p>
                    <span>银行到账时间：</span>
                    <span>2017.01.02 13:00:00</span>
                </p>
                <p>
                    <span>嘉福入账时间：</span>
                    <span>2017.01.02 13:00:00</span>
                </p>
            </div>
            <div class="getmoney_checkbox">
                <input type="checkbox" class="aui-radio" name="company" checked="checked"/>
            </div>
        </label>
        <!--list1-->
        <label class="getmoney_details_list">
            <div>
                <p>
                    <span>付款户名：</span>
                    <span>老顽童</span>
                </p>
                <p>
                    <span>付款账号：</span>
                    <span>5682953839539539568</span>
                </p>
                <p>
                    <span>金额：</span>
                    <span>400.00</span>
                </p>
                <p>
                    <span>银行到账时间：</span>
                    <span>2017.01.02 13:00:00</span>
                </p>
                <p>
                    <span>嘉福入账时间：</span>
                    <span>2017.01.02 13:00:00</span>
                </p>
            </div>
            <div class="getmoney_checkbox">
                <input type="checkbox" class="aui-radio" name="company"/>
            </div>
        </label>
        <!--list1-->
        <label class="getmoney_details_list">
            <div>
                <p>
                    <span>付款户名：</span>
                    <span>老顽童</span>
                </p>
                <p>
                    <span>付款账号：</span>
                    <span>5682953839539539568</span>
                </p>
                <p>
                    <span>金额：</span>
                    <span>400.00</span>
                </p>
                <p>
                    <span>银行到账时间：</span>
                    <span>2017.01.02 13:00:00</span>
                </p>
                <p>
                    <span>嘉福入账时间：</span>
                    <span>2017.01.02 13:00:00</span>
                </p>
            </div>
            <div class="getmoney_checkbox">
                <input type="checkbox" class="aui-radio" name="company" />
            </div>
        </label>
    </div>
</div>

<!-- 固定底部-->
<div class="tabbar">
    <div class="">
        <div class="weui_tab_bd"> </div>
        <div class="weui_tabbar">
            <div class="weui_tabbar_item weui_tabbar_font"><span>总金额：</span><span>￥656.00</span></div>
            <a href="add_payment_records.html" class="weui_actionsheet_cell weui_tabbar_buy">确认</a>
        </div>
    </div>
</div>



</body>

</html>