<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>企业信息</title>

</head>
<body>



<!--中间部分-->
<div>
    <div class="getmoney_details">
        <label class="jf_list search_company">
            <div class="jf_list_bd">
                <p>企业名称</p>
            </div>
            <div class="jf_list_ft jf_list_arrow"> <input readonly type="text" value="上海淘略数据处理有限公司" id="company_name" onfocus="this.blur();"/></div>
        </label>

        <label class="jf_list search_sales">
            <div class="jf_list_bd">
                <p>销售代表</p>
            </div>
            <div class="jf_list_ft jf_list_arrow"> <input readonly type="text" value="何云东" id="salename_input" onfocus="this.blur();"/></div>
        </label>
    </div>



    <!--订单详细-->
    <div class="getmoney_details_lists">

        <!--list-->
        <a class="kaipiao_lsit" href="company_info_details.html">
            <div class="list_left listone">

                <!--上-->
                <div class="list_top">
                    <div>
                        <p>
                            <span>企业编号：</span>
                            <span>10000000006256</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>识别号：</span>
                            <span>GH1028</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>企业名称：</span>
                            <span>上海淘略数据处理有限公司</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>企业类型：</span>
                            <span>个人福利企业</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>销售代表：</span>
                            <span>何云东</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>企业来源：</span>
                            <span>线下</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>实收余额：</span>
                            <span>50,000</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div></div>
                </div>
            </div>
        </a>
        <!--list-->
        <a class="kaipiao_lsit" href="company_info_details.html">
            <div class="list_left listone">

                <!--上-->
                <div class="list_top">
                    <div>
                        <p>
                            <span>企业编号：</span>
                            <span>10000000006256</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>识别号：</span>
                            <span>GH1028</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>企业名称：</span>
                            <span>上海淘略数据处理有限公司</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>企业类型：</span>
                            <span>个人福利企业</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>销售代表：</span>
                            <span>何云东</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>企业来源：</span>
                            <span>线下</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>实收余额：</span>
                            <span>50,000</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div></div>
                </div>
            </div>
        </a>

        <!--list-->
        <a class="kaipiao_lsit" href="company_info_details.html">
            <div class="list_left listone">

                <!--上-->
                <div class="list_top">
                    <div>
                        <p>
                            <span>企业编号：</span>
                            <span>10000000006256</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>识别号：</span>
                            <span>GH1028</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>企业名称：</span>
                            <span>上海淘略数据处理有限公司</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>企业类型：</span>
                            <span>个人福利企业</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>销售代表：</span>
                            <span>何云东</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>企业来源：</span>
                            <span>线下</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>实收余额：</span>
                            <span>50,000</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div></div>
                </div>
            </div>
        </a>



    </div>




</div>


<!--搜索公司侧拉页-->
<div id="top_search_company" class="top_search search_companypage ">
    <div class="top_search_mian">
        <a class="left goback"><img src="../../images/dingding/icon_pay_return.png"/></a>
        <div class="center">
            <label> <i class="weui_icon_search"><img src="../../images/dingding/icon_search.png"></i>
                <input type="search" placeholder="请输入查找的内容" class="search_input"/>
                <a class="weui_icon_clear" id="text_cancle">×</a>
            </label>
        </div>
        <a class="right">搜索</a>
    </div>

    <div class="company_name_lists">
        <label class="name_list" onclick=" jfFrameFlyShow.mainFrameHide()">
            <div>
                <input type="radio" class="aui-radio" name="searchcompany"/>
            </div>
            <div>
                <p>全部</p>
            </div>

        </label>
        <label class="name_list" onclick=" jfFrameFlyShow.mainFrameHide()">
            <div>
                <input type="radio" class="aui-radio" name="searchcompany"/>
            </div>
            <div>
                <p>上海淘略数据处理有限公司</p>
                <p>162362596256</p>
            </div>

        </label>

        <label class="name_list" onclick=" jfFrameFlyShow.mainFrameHide()">
            <div>
                <input type="radio" class="aui-radio" name="searchcompany"/>
            </div>

            <div>
                <p>上海嘉银支付</p>
                <p>16256256322352</p>
            </div>

        </label>
    </div>
</div>


<!--搜索销售代表侧拉页-->
<div id="top_search_sale" class="top_search search_salespage">
    <div class="top_search_mian">
        <a class="left gobackone"><img src="../../images/dingding/icon_pay_return.png"/></a>
        <div class="center">
            <label> <i class="weui_icon_search"><img src="../../images/dingding/icon_search.png"></i>
                <input type="search" placeholder="请输入查找的内容" class="search_input"/>
                <a class="weui_icon_clear" id="text_cancle">×</a>
            </label>
        </div>
        <a class="right">搜索</a>
    </div>

    <div class="company_name_lists">
        <label class="name_list" onclick=" jfFrameFlyShow.mainFrameHide()">
            <div>
                <input type="radio" class="aui-radio" name="searchsale"/>
            </div>
            <div>
                <p>全部</p>
            </div>

        </label>
        <label class="name_list" onclick=" jfFrameFlyShow.mainFrameHide()">
            <div>
                <input type="radio" class="aui-radio" name="searchsale"/>
            </div>
            <div>
                <p>何云东</p>
            </div>

        </label>

        <label class="name_list" onclick=" jfFrameFlyShow.mainFrameHide()">
            <div>
                <input type="radio" class="aui-radio" name="searchsale"/>
            </div>
            <div>
                <p>谯</p>
            </div>

        </label>
    </div>
</div>





</body>

<script>

    //点击侧滑选择企业名称以及开票企业
    $('label.search_company').on('click', function () {

        jfFrameFlyShow.mainFrameShow({
            "flyTime": "0.3s",//侧拉飞入平滑时间

            "flyEleArea": "search_companypage",//侧拉飞入的元素class选择器

            "hideButton": "goback",//侧拉返回关闭按钮的class选择器

            "hideFn":function(){//关闭时执行的方法

                chooseCompanyName('company_name','top_search_company');//参数一是当前需要填写的元素的ID值，参数二是当前侧拉页面的ID选择器
            }
        })
    });

    //点击侧滑选择企业名称以及开票企业
    $('label.search_sales').on('click', function () {

        jfFrameFlyShow.mainFrameShow({
            "flyTime": "0.3s",//侧拉飞入平滑时间

            "flyEleArea": "search_salespage",//侧拉飞入的元素class选择器

            "hideButton": "gobackone",//侧拉返回关闭按钮的class选择器

            "hideFn":function(){//关闭时执行的方法

                chooseCompanyName('salename_input','top_search_sale')
            }
        })
    });






</script>
</html>