<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta name = "format-detection" content = "telephone=no">
    <title>订单提成明细</title>

</head>
<body>


<!--中间部分-->

<p class="kaipiao_details_title">提成明细</p>

<!--信息1-->
<div class="jf_fapiao_lists">
    <!-- list 1-->
    <a class="jf_list ">
        <div class="jf_list_bd">
            <p>超额提成</p>
        </div>
        <div class="jf_list_ft ">
            <p>10000</p>
        </div>
    </a>
    <!-- list 2-->
    <a class="jf_list ">
        <div class="jf_list_bd">
            <p>业绩提成</p>
        </div>
        <div class="jf_list_ft">
            <p>100000</p>
        </div>
    </a>
    <!-- list 3 -->
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>垫资扣款</p>
        </div>
        <div class="jf_list_ft">
            <p>-9000</p>
        </div>
    </a>

    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>合计</p>
        </div>
        <div class="jf_list_ft">
            <p>19000</p>
        </div>
    </a>
</div>



<!--中间部分-->

<p class="kaipiao_details_title">提成信息</p>

<!--信息1-->
<div class="jf_fapiao_lists">
    <!-- list 1-->
    <a class="jf_list ">
        <div class="jf_list_bd">
            <p>绩效明细编号</p>
        </div>
        <div class="jf_list_ft ">
            <p>4362956563</p>
        </div>
    </a>
    <!-- list 2-->
    <a class="jf_list ">
        <div class="jf_list_bd">
            <p>发放时间</p>
        </div>
        <div class="jf_list_ft">
            <p>2017/07/07</p>
        </div>
    </a>
    <!-- list 3 -->
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>充值订单号</p>
        </div>
        <div class="jf_list_ft">
            <p>1626595625</p>
        </div>
    </a>

    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>企业名称</p>
        </div>
        <div class="jf_list_ft">
            <p>上海淘略数据处理有限公司</p>
        </div>
    </a>
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>企业编号</p>
        </div>
        <div class="jf_list_ft">
            <p>14656596565</p>
        </div>
    </a>
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>订单总金额</p>
        </div>
        <div class="jf_list_ft">
            <p>202000</p>
        </div>
    </a>
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>充值金额</p>
        </div>
        <div class="jf_list_ft">
            <p>202000</p>
        </div>
    </a>
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>服务费</p>
        </div>
        <div class="jf_list_ft">
            <p>500</p>
        </div>
    </a>
</div>



</body>

</html>