<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta name = "format-detection" content = "telephone=no">
    <title>大区绩效明细</title>

</head>
<body>


<!--中间部分-->

<p class="kaipiao_details_title">绩效信息</p>

<!--信息1-->
<div class="jf_fapiao_lists">
    <!-- list 1-->
    <a class="jf_list ">
        <div class="jf_list_bd">
            <p>金额</p>
        </div>
        <div class="jf_list_ft ">
            <p>-10000</p>
        </div>
    </a>
    <!-- list 2-->
    <a class="jf_list ">
        <div class="jf_list_bd">
            <p>绩效明细编号</p>
        </div>
        <div class="jf_list_ft">
            <p>10462620000</p>
        </div>
    </a>
    <!-- list 3 -->
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>发放时间</p>
        </div>
        <div class="jf_list_ft">
            <p>2017/07/07</p>
        </div>
    </a>

    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>备注</p>
        </div>
        <div class="jf_list_ft">
            <p>财务扣款</p>
        </div>
    </a>
</div>




</body>

</html>