<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>垫资记录</title>

</head>
<body>


    <div class="getmoney_details">
        <p class="getmoney_day">
            <span>交易日期<input type="date" class="date_input" placeholder="请输入日期"/></span>
            <span>至<input type="date" class="date_input" placeholder="请输入日期"/></span>
        </p>
        <label class="jf_list choose_company">
            <div class="jf_list_bd">
                <p>交易类型</p>
            </div>
            <div class="jf_list_ft jf_list_arrow">
                <select>
                    <option>全部</option>
                    <option>充值</option>
                    <option>个人垫资</option>
                    <option>公司垫资</option>
                    <option>额度恢复</option>
                </select>
            </div>
        </label>
    </div>


<div class="payment_records">
    <div class="payment_lists">
        <div class="payment_list">
            <div class="payment_info">
                <div class="payment_info_details">
                    <span>交易类型：</span>
                    <span>个人垫资</span>
                </div>
                <div class="payment_info_details">
                    <span>交易时间：</span>
                    <span>2017/04/01 10:00:00</span>
                </div>
                <div class="payment_info_details">
                    <span>垫资企业：</span>
                    <span>上海淘略数据处理有限公司</span>
                </div>
                <div class="payment_info_details">
                    <span>交易后余额：</span>
                    <span>0</span>
                </div>
            </div>
            <div class="payment_moneyvalue company_pay">-14,000</div>
        </div>

        <div class="payment_list">
            <div class="payment_info">
                <div class="payment_info_details">
                    <span>交易类型：</span>
                    <span>公司垫资</span>
                </div>
                <div class="payment_info_details">
                    <span>交易时间：</span>
                    <span>2017/04/01 10:00:00</span>
                </div>
                <div class="payment_info_details">
                    <span>垫资企业：</span>
                    <span>上海淘略数据处理有限公司</span>
                </div>
                <div class="payment_info_details">
                    <span>交易后额度：</span>
                    <span>1000元</span>
                </div>
            </div>
            <div class="payment_moneyvalue company_pay">-1000</div>
        </div>

        <div class="payment_list">
            <div class="payment_info">
                <div class="payment_info_details">
                    <span>交易类型：</span>
                    <span>充值</span>
                </div>
                <div class="payment_info_details">
                    <span>交易时间：</span>
                    <span>2017/04/01 10:00:00</span>
                </div>
                <div class="payment_info_details">
                    <span>银行户名：</span>
                    <span>何云东（****1234）</span>
                </div>
                <div class="payment_info_details">
                    <span>交易后余额：</span>
                    <span>50,000</span>
                </div>
            </div>
            <div class="payment_moneyvalue company_pay">+50,000</div>
        </div>

        <div class="payment_list">
            <div class="payment_info">
                <div class="payment_info_details">
                    <span>交易类型：</span>
                    <span>额度恢复</span>
                </div>
                <div class="payment_info_details">
                    <span>交易时间：</span>
                    <span>2017/04/01 10:00:00</span>
                </div>
                <div class="payment_info_details">
                    <span>垫资企业：</span>
                    <span>上海淘略数据处理有限公司</span>
                </div>
                <div class="payment_info_details">
                    <span>还款后额度：</span>
                    <span>50,000</span>
                </div>
            </div>
            <div class="payment_moneyvalue company_pay">+50,000</div>
        </div>
    </div>

</div>

    <!--刷新按钮-->
    <a class="refresh_btn" href="company_pay_records.html">
        <img src="../../images/dingding/refresh.png">
        <p>刷新</p>
    </a>

</body>

</html>