<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>开票申请</title>

</head>

<body>

<!--支付成功-->
<div class="submit_info waiting_plate">
    <div class="weui_icon_area" style="margin-bottom:0px;">
        <div class="waiting_icon_plate">
            <img src="../../images/dingding/wine_glass_icon.png">

            <div class="white_water_palte">
                <img src="../../images/dingding/white_water.png">
            </div>

            <div class="green_water_palte">
                <img src="../../images/dingding/green_water.png">
            </div>
        </div>
    </div>
    <div class="weui_text_area" style="padding:0px;">
        <p class="orange_text"><span>系统检测到有票，正在为您锁定中...</span><span></span></p>
    </div>
</div>

<!--刷新按钮-->
<!--<a class="refresh_btn" href="../main/invoice_main.html">
    <img src="../../images/dingding/icon_nav_home_black.png">
    <p>返回首页</p>
</a>-->
</body>
</html>
