<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>选择开票公司</title>
</head>
<body>

<!--固定顶部搜索-->

<div class="fixed_top">

    <div class="top_search_mian">
        <a class="left" onclick="window.history.go(-1)"><img src="../../images/dingding/icon_pay_return.png"/></a>
        <div class="center">
            <label> <i class="weui_icon_search"><img src="../../images/dingding/icon_search.png"></i>
                <input type="search" placeholder="请开票公司名称以及发票科目" class="search_input"/>
                <a class="weui_icon_clear" id="text_cancle">×</a>
            </label>
        </div>
        <a class="right">搜索</a>
    </div>

    <div class="bar"></div>

</div>

<div class="recharge_balance">
    <img src="../../images/dingding/icon_warning.png">
      <span>
        <p>注意：以下数据仅提供参考，以申请最终提交为准</p>
      </span>
</div>

<div class="all_result_list">

    <label class="list">
     <input type="checkbox" class="aui-radio" name="result" checked >
        <div>
            <p class="name">上海淘略<small>(普通科目)</small></p>
            <p class="course"><span>培训费</span><span>服务费</span><span>技术服务费</span><span>代理服务费</span><span>广告制作服务费</span></p>
            <p class="ticket"><span>剩余张数：</span><span>51562</span></p>
        </div>
    </label>
    <label class="list ">
        <input type="checkbox" class="aui-radio" name="result">
        <div>
            <p class="name">上海淘略<small>(普通科目)</small></p>
            <p class="course"><span>培训费</span><span>服务费</span><span>技术服务费</span><span>代理服务费</span><span>广告制作服务费</span></p>
            <p class="ticket"><span>剩余张数：</span><span>51562</span></p>
        </div>
    </label>
    <label class="list ">
        <input type="checkbox" class="aui-radio" name="result" >
        <div>
            <p class="name">上海淘略<small>(普通科目)</small></p>
            <p class="course"><span>培训费</span><span>服务费</span><span>技术服务费</span><span>代理服务费</span><span>广告制作服务费</span></p>
            <p class="ticket"><span>剩余张数：</span><span>51562</span></p>
        </div>
    </label>
    <!--无票添加class值none-->
    <label class="list none">
        <input type="checkbox" class="aui-radio" name="result" >
        <div>
            <p class="name">上海淘略<small>(普通科目)</small></p>
            <p class="course"><span>培训费</span><span>服务费</span><span>技术服务费</span><span>代理服务费</span><span>广告制作服务费</span></p>
            <p class="ticket"><span>排队张数：</span><span>51562</span></p>
        </div>
    </label>

    <label class="list none">
        <input type="checkbox" class="aui-radio" name="result">
        <div>
            <p class="name">上海淘略<small>(普通科目)</small></p>
            <p class="course"><span>培训费</span><span>服务费</span><span>技术服务费</span><span>代理服务费</span><span>广告制作服务费</span></p>
            <p class="ticket"><span>排队张数：</span><span>51562</span></p>
        </div>
    </label>

    <label class="list none">
        <input type="checkbox" class="aui-radio" name="result">
        <div>
            <p class="name">上海淘略<small>(普通科目)</small></p>
            <p class="course"><span>培训费</span><span>服务费</span><span>技术服务费</span><span>代理服务费</span><span>广告制作服务费</span></p>
            <p class="ticket"><span>排队张数：</span><span>51562</span></p>
        </div>
    </label>


</div>

<!--固定底部按钮-->
<div class="fixed_bottom_btn">
    <div class="fixed_bar"></div>
    <a href="application.html">下一步</a>
</div>

<!--刷新按钮-->
<a class="refresh_btn" href="choose_company.html">
    <img src="../../images/dingding/refresh.png">
    <p>刷新</p>
</a>
<script>


   $('.list').on("click",function(e){

        var evt=e||window.event;

        evt.preventDefault();

       if($(this).find('.aui-radio').is(':checked')){

           $(this).find('.aui-radio').prop('checked',false);
       }else {
           $('.aui-radio').prop('checked',false);

           $(this).find('.aui-radio').prop('checked',true);
       }

    });



</script>
</body>
</html>