<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection">
    <title>Title</title>
</head>
<body>

<!--固定顶部-->
<nav class="Top_navigation">
    <div class="weui_tab_bd"></div>
    <div class="container_tab">
        <a onclick="window.history.go(-1)">
            <div class="nav_left"><img src="../../images/dingding/icon_pay_return.png"></div>
        </a>
        <div class="nav_center">
            <div>选择发票抬头</div>
        </div>
        <a>
            <div class="nav_right add_invoice"><img src="../../images/dingding/icon_add.png"></div>
        </a>
    </div>
</nav>

<div class="choose_title_page">
    <div class="cards">

        <p class="title">
            <span>发票抬头：</span>
            <span class="title_text">上海淘略数据处理有限公司</span>
        </p>
        <p>
            <span>纳税人识别号：</span>
            <span class="num">15862965666256ADF62536</span>
        </p>
        <p>
            <span>地址：</span>
            <span class="address">上海市徐汇区虹桥路808号加华商务中心</span>
        </p>
        <p>
            <span>电话：</span>
            <span class="tel">135698545623</span>
        </p>
        <p>
            <span>开户行：</span>
            <span class="bankname">中国工商银行上海徐汇分行</span>
        </p>
        <p>
            <span>账号：</span>
            <span class="account">6245154558158425642545</span>
        </p>

        <div class="btn_area">
            <a class="edit">编辑</a>
            <a class="delete">删除</a>
            <a class="selected" href="../invoice/application.html">选择</a>
        </div>

    </div>

    <div class="cards">

        <p class="title">
            <span>发票抬头：</span>
            <span class="title_text">上海嘉银支付有限公司</span>
        </p>
        <p>
            <span>纳税人识别号：</span>
            <span class="num">146102514542514256ADF62536</span>
        </p>
        <p>
            <span>地址：</span>
            <span class="address">暂无</span>
        </p>
        <p>
            <span>电话：</span>
            <span class="tel">暂无</span>
        </p>
        <p>
            <span>开户行：</span>
            <span class="bankname">暂无</span>
        </p>
        <p>
            <span>账号：</span>
            <span class="account">暂无</span>
        </p>

        <div class="btn_area">
            <a class="edit">编辑</a>
            <a class="delete">删除</a>
            <a class="selected" href="../invoice/application.html">选择</a>
        </div>

    </div>

    <div class="cards">

        <p class="title">
            <span>发票抬头：</span>
            <span class="title_text">支付宝</span>
        </p>
        <p>
            <span>纳税人识别号：</span>
            <span class="num">546543546546456543</span>
        </p>
        <p>
            <span>地址：</span>
            <span class="address">暂无</span>
        </p>
        <p>
            <span>电话：</span>
            <span class="tel">暂无</span>
        </p>
        <p>
            <span>开户行：</span>
            <span class="bankname">暂无</span>
        </p>
        <p>
            <span>账号：</span>
            <span class="account">暂无</span>
        </p>

        <div class="btn_area">
            <a class="edit">编辑</a>
            <a class="delete">删除</a>
            <a class="selected" href="../invoice/application.html">选择</a>
        </div>

    </div>
</div>


<!--编辑发票抬头-->
<div id="edit_invoice_title" class="top_search edit_invoice_title">

    <div class="scrollPage">

        <div class="recharge_balance">
            <img src="../../images/dingding/icon_warning.png">
      <span>
        <p>注意：公司规定发票抬头必须与企业名称一致。若有特殊情况，客户需要开其他名称的发票抬头。请发邮件与运营部周欣联系，并说明原因。</p>
      </span>
        </div>


        <!--信息1-->
        <div class="jf_fapiao_lists">
            <!-- list 1-->
            <a class="jf_list">
                <div class="jf_list_bd">
                    <p>申请开票企业</p>
                </div>
                <div class="jf_list_ft"> <p>上海淘略数据处理有限公司</p></div>
            </a>

            <!-- list 2-->
            <a class="jf_list">
                <div class="jf_list_bd">
                    <p>发票抬头</p>
                </div>
                <div class="jf_list_ft"> <p>上海淘略数据处理有限公司</p></div>
            </a>

            <!--4-->
            <a class="jf_list">
                <div class="jf_list_bd">
                    <p>纳税人识别号</p>
                </div>
                <div class="jf_list_ft"><input type="text" value="1562566265652665SCFF55"></div>
            </a>
            <!--5-->
            <a class="jf_list">
                <div class="jf_list_bd">
                    <p>开户行</p>
                </div>
                <div class="jf_list_ft"><input type="text" value="中国工商银行上海徐汇分行"></div>
            </a>


            <a class="jf_list">
                <div class="jf_list_bd">
                    <p>账号</p>
                </div>
                <div class="jf_list_ft"><input type="text" value="6662498158428425125"></div>
            </a>


            <a class="jf_list">
                <div class="jf_list_bd">
                    <p>电话</p>
                </div>
                <div class="jf_list_ft"><input type="text" value="13569854562"></div>
            </a>
            <a class="jf_list">
                <div class="jf_list_bd">
                    <p>地址</p>
                </div>
                <div class="jf_list_ft"><input type="text" value="上海市徐汇区虹桥路808号"></div>
            </a>

        </div>


        <!-- 按钮 -->
        <div class="jf_fabiao_btn">
            <a class="jf_btn jf_btn_blue edit_save">保存</a>
        </div>
    </div>



</div>


<!--新增发票抬头-->
<div id="add_invoice_title" class="top_search add_invoice_title">

    <div class="scrollPage">

        <div class="recharge_balance">
            <img src="../../images/dingding/icon_warning.png">
      <span>
        <p>注意：公司规定发票抬头必须与企业名称一致。若有特殊情况，客户需要开其他名称的发票抬头。请发邮件与运营部周欣联系，并说明原因。</p>
      </span>
        </div>


        <!--信息1-->
        <div class="jf_fapiao_lists">
            <!-- list 1-->
            <a class="jf_list">
                <div class="jf_list_bd">
                    <p>申请开票企业</p>
                </div>
                <div class="jf_list_ft"> <p>上海淘略数据处理有限公司</p></div>
            </a>

            <!-- list 2-->
            <a class="jf_list">
                <div class="jf_list_bd">
                    <p>发票抬头</p>
                </div>
                <div class="jf_list_ft"> <p>上海淘略数据处理有限公司</p></div>
            </a>

            <!--4-->
            <a class="jf_list">
                <div class="jf_list_bd">
                    <p>纳税人识别号</p>
                </div>
                <div class="jf_list_ft"><input type="text" placeholder="必填"></div>
            </a>
            <!--5-->
            <a class="jf_list">
                <div class="jf_list_bd">
                    <p>开户行</p>
                </div>
                <div class="jf_list_ft"><input type="text" placeholder="选填"></div>
            </a>


            <a class="jf_list">
                <div class="jf_list_bd">
                    <p>账号</p>
                </div>
                <div class="jf_list_ft"><input type="text" placeholder="选填"></div>
            </a>


            <a class="jf_list">
                <div class="jf_list_bd">
                    <p>电话</p>
                </div>
                <div class="jf_list_ft"><input type="text" placeholder="选填"></div>
            </a>
            <a class="jf_list">
                <div class="jf_list_bd">
                    <p>地址</p>
                </div>
                <div class="jf_list_ft"><input type="text" placeholder="选填，50字以内"></div>
            </a>

        </div>


        <!-- 按钮 -->
        <div class="jf_fabiao_btn">
            <a class="jf_btn jf_btn_blue add_save">保存</a>
        </div>

    </div>




</div>

<script>
    //点击侧滑编辑发票抬头
    $('.edit').on('click', function () {

        document.activeElement.blur();

        setTimeout(function(){

            jfFrameFlyShow.mainFrameShow({
                "flyTime": "0.3s",//侧拉飞入平滑时间

                "flyEleArea": "edit_invoice_title",//侧拉飞入的元素class选择器

                "hideButton": "edit_save"//侧拉返回关闭按钮的class选择器

            })

        },300)


    });

    //点击侧滑新增发票抬头
    $('.add_invoice').on('click', function () {

        document.activeElement.blur();

        setTimeout(function(){

            jfFrameFlyShow.mainFrameShow({
                "flyTime": "0.3s",//侧拉飞入平滑时间

                "flyEleArea": "add_invoice_title",//侧拉飞入的元素class选择器

                "hideButton": "add_save"//侧拉返回关闭按钮的class选择器

            })

        },300)


    });

    /*点击删除按钮，实现删除该条记录*/
    $('.btn_area>.delete').on("click", function () {

        var thislist = $(this).parents('.cards');

        jfShowTips.dialogShow({
            "mainText": "确认删除此项发票？",
            "minText": " ",
            "hasCheck": true,
            "hasCancel": true,
            "checkFn": function () {

                thislist.addClass('payment_list_hide');

                jfShowTips.dialogRemove();//弹出框消失

                setTimeout(function () {
                    thislist.css("display", "none");
                }, 300);

            }
        })
    });

</script>
</body>
</html>