<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta name = "format-detection" content = "telephone=no">
    <title>开票申请记录</title>

</head>
<body>


<!--中间部分-->

<p class="kaipiao_details_title">申请信息</p>

<!--信息1-->
<div class="jf_fapiao_lists" style="margin: 0">
    <!-- list 1-->
    <label class="jf_list search_conpany">
        <div class="jf_list_bd">
            <p>企业名称</p>
        </div>
        <div class="jf_list_ft ">
            <p>1000001-嘉银</p>
        </div>
    </label>
    <!-- list 2-->
    <a class="jf_list ">
        <div class="jf_list_bd">
            <p >申请人</p>
        </div>
        <div class="jf_list_ft">
            <p>何云东</p>
        </div>
    </a>
    <!-- list 3 -->
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>销售代表</p>
        </div>
        <div class="jf_list_ft">
            <p>何云东</p>
        </div>
    </a>

    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>申请渠道</p>
        </div>
        <div class="jf_list_ft">
            <p>企业</p>
        </div>
    </a>
    <!--4-->
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p class="text_more">申请提交时间</p>
        </div>
        <div class="jf_list_ft">
            <p>2017-1-17 00:00:00</p>
        </div>
    </a>
    <!--5-->
    <a class="jf_list fapiao_type">
        <div class="jf_list_bd  ">
            <p>发票种类</p>
        </div>
        <div class="jf_list_ft">
            <p>普通增值税发票</p>
        </div>
    </a>
    <!--6-->
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p class="fapiao_bussiness_type">发票科目</p>
        </div>
        <div class="jf_list_ft">
            <p>技术服务费</p>
        </div>
    </a>

    <!--8-->
    <a class="jf_list">
        <div class="jf_list_bd ">
            <p class="fapiao_bussiness_type">开票企业</p>

        </div>
        <div class="jf_list_ft">
            <p>上海淘略数据处理有限公司</p>
        </div>
    </a>

    <a class="jf_list">
        <div class="jf_list_bd ">
            <p >开票金额</p>
        </div>
        <div class="jf_list_ft">
            <p>1,600,000.00</p>
        </div>
    </a>

    <a class="jf_list">
        <div class="jf_list_bd ">
            <p >开票金额(大写)</p>
        </div>
        <div class="jf_list_ft">
            <p>人民币壹佰陆拾万元</p>
        </div>
    </a>
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p class=" text_more">申请开票张数</p>
        </div>
        <div class="jf_list_ft">
            <p>2</p>
        </div>
    </a>
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p class="text_more">申请开票日期</p>
        </div>
        <div class="jf_list_ft">
            <p>2017-1-19</p>
        </div>
    </a>
    <!--7-->
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>发票抬头</p>
        </div>
        <div class="jf_list_ft">
            <p>美丽科技有限公司</p>
        </div>
    </a>
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>纳税人识别号</p>
        </div>
        <div class="jf_list_ft">
            <p>1325625625625625862</p>
        </div>
    </a>

    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>地址</p>
        </div>
        <div class="jf_list_ft">
            <p>上海市徐汇区虹桥路808号</p>
        </div>
    </a>
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>电话</p>
        </div>
        <div class="jf_list_ft">
            <p>13569875623</p>
        </div>
    </a>
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>开户行</p>
        </div>
        <div class="jf_list_ft">
            <p>中国银行</p>
        </div>
    </a>

    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>账号</p>
        </div>
        <div class="jf_list_ft">
            <p>66669632654926566965</p>
        </div>
    </a>
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>配送地址</p>
        </div>
        <div class="jf_list_ft">
            <p>上海市徐汇区虹桥路808号</p>
        </div>
    </a>
    <a class="jf_list ">
        <div class="jf_list_bd ">
            <p>收件人</p>
        </div>
        <div class="jf_list_ft">
            <p>葫芦娃（13869524623）</p>
        </div>
    </a>


</div>


<p class="kaipiao_details_title">审批信息</p>
<!--信息1-->
<div class="jf_fapiao_lists" style="margin: 0">
    <!-- list 1-->
    <a class="jf_list shenpi_up_info">
        <div class="jf_list_bd">
            <p >审批状态</p>
        </div>
        <div class="jf_list_ft jf_list_down">
            <p>拒绝</p>
        </div>
    </a>
    <div class="shenpi_up">
        <a class="jf_list ">
            <div class="jf_list_bd ">
                <p>审批人</p>
            </div>
            <div class="jf_list_ft">
                <p>邵东</p>
            </div>
        </a>
        <a class="jf_list fapiao_bussiness">
            <div class="jf_list_bd ">
                <p >审批时间</p>
            </div>
            <div class="jf_list_ft">
                <p>2017-01-19 14：00：00</p>
            </div>
        </a>

        <a class="jf_list">
            <div class="jf_list_bd ">
                <p class="reject_reason">拒绝原因</p>
                <textarea rows="3" maxlength="100" placeholder="选填，100字以内" cols="42" class="reject_reason">拒绝原因拒绝原因拒绝原因拒绝原因拒绝原因拒绝原因拒绝原因拒绝原因</textarea>
            </div>
            <div class="jf_list_ft"></div>
        </a>
    </div>
</div>


<p class="kaipiao_details_title">开票信息</p>
<!--信息1-->
<div class="jf_fapiao_lists" style="margin: 0">
    <!-- list 1-->
    <a class="jf_list kaipiao_info">
        <div class="jf_list_bd">
            <p >开票状态</p>
        </div>
        <div class="jf_list_ft jf_list_down">
            <p>未开票</p>
        </div>
    </a>
</div>
<div class="kaipiao_up list_noline">
    <div class="jf_fapiao_lists" style="margin: 0">
        <a class="jf_list fapiao_bussiness">
            <div class="jf_list_bd ">
                <p>开票人</p>

            </div>
            <div class="jf_list_ft">
                <p>邵东</p>
            </div>
        </a>
        <a class="jf_list">
            <div class="jf_list_bd ">
                <p>审批时间</p>

            </div>
            <div class="jf_list_ft">
                <p >2017-01-19 14：00：00</p>
            </div>
        </a>
        <a class="jf_list">
            <div class="jf_list_bd ">
                <p >开票总张数</p>

            </div>
            <div class="jf_list_ft">
                <p>2</p>
            </div>
        </a>
        <a class="jf_list">
            <div class="jf_list_bd ">
                <p >开票面额</p>

            </div>
            <div class="jf_list_ft">
                <p>2,000,000.00</p>
            </div>
        </a>

        <a class="jf_list">
            <div class="jf_list_bd">
                <p class="list_textinput">开票备注</p>
                <textarea rows="3" maxlength="100" placeholder="选填，100字以内" cols="42">开票备注开票备注开票备注开票备注开票备注开票备注开票备注开票备注</textarea>
            </div>
            <div class="jf_list_ft"></div>
        </a>


    </div>
    <P class="show_small_tilte">发票详情</P>
    <div class="payment_list">
        <div class="payment_info">
            <div class="payment_info_name">
                <span>发票号码：</span>
                <span>121375896</span>
            </div>
            <div class="payment_info_number">
                <span>快递公司：</span>
                <span>顺丰</span>
            </div>
        </div>

        <div class="payment_info">
            <div class="payment_info_name">
                <span>发票面值：</span>
                <span>1,000,000.00</span>
            </div>
            <div class="payment_info_number">
                <span>快递单号：</span>
                <span>214562482524512</span>
            </div>
        </div>
    </div>
    <div class="payment_list">
        <div class="payment_info">
            <div class="payment_info_name">
                <span>发票号码：</span>
                <span>1193625696</span>
            </div>
            <div class="payment_info_number">
                <span>快递公司：</span>
                <span>中通</span>
            </div>
        </div>

        <div class="payment_info">
            <div class="payment_info_name">
                <span>发票面值：</span>
                <span>600,000.00</span>
            </div>
            <div class="payment_info_number">
                <span>快递单号：</span>
                <span>962586282524512</span>
            </div>
        </div>
    </div>
</div>


<p class="kaipiao_details_title">收款信息</p>
<!--信息1-->
<div class="jf_fapiao_lists" style="margin: 0">
    <!-- list 1-->
    <a class="jf_list getmoney_info">
        <div class="jf_list_bd">
            <p>收款状态</p>
        </div>
        <div class="jf_list_ft jf_list_down">
            <p>已收款</p>
        </div>
    </a>
</div>
<div class="getmoney_up list_noline">
    <div class="jf_fapiao_lists" style="margin: 0">
        <a class="jf_list fapiao_bussiness">
            <div class="jf_list_bd ">
                <p >收款总金额</p>

            </div>
            <div class="jf_list_ft">
                <p>1,600,000.00</p>
            </div>
        </a>
    </div>


    <P class="show_small_tilte">收款详情</P>
    <div class="payment_list">
        <div class="payment_info">
            <div class="payment_info_name">
                <span>付款账户：</span>
                <span>老顽童</span>
            </div>
            <div class="payment_info_number">
                <span>付款金额：</span>
                <span>400.00</span>
            </div>
            <div class="payment_info_name">
                <span>收款时间：</span>
                <span>2017.01.02 16：00：00</span>
            </div>
            <div class="payment_info_number">
                <span>入账时间：</span>
                <span>2017.01.02 16：00：00</span>
            </div>
        </div>
    </div>
    <div class="payment_list">
        <div class="payment_info">
            <div class="payment_info_name">
                <span>付款账户：</span>
                <span>老顽童</span>
            </div>
            <div class="payment_info_number">
                <span>付款金额：</span>
                <span>400.00</span>
            </div>
            <div class="payment_info_name">
                <span>收款时间：</span>
                <span>2017.01.02 16：00：00</span>
            </div>
            <div class="payment_info_number">
                <span>入账时间：</span>
                <span>2017.01.02 16：00：00</span>
            </div>
        </div>
    </div>

</div>
</div>

<p class="kaipiao_details_title">核销</p>
<!--信息1-->
<div class="jf_fapiao_lists" style="margin: 0">
    <!-- list 1-->
    <a class="jf_list checkmoney_info">
        <div class="jf_list_bd">
            <p >核销状态</p>
        </div>
        <div class="jf_list_ft jf_list_down"> <p>未核销</p></div>
    </a>
</div>
<div class="checkmoney_up list_noline">
    <div class="jf_fapiao_lists" style="margin: 0">
        <a class="jf_list fapiao_bussiness">
            <div class="jf_list_bd ">
                <p>核销人</p>

            </div>
            <div class="jf_list_ft"> <p >小明</p></div>
        </a>
    </div>

</div>


</body>

<script>


    $('a.kaipiao_info').click(function () {

        upShowInfo(this, 'div.kaipiao_up', 'kaipiao_up_show');//参数一时当前的元素，参数二是展开区域元素的class选择器，参数三十展开区域变化的的class值
    })

    $('a.shenpi_up_info').click(function () {

        upShowInfo(this, 'div.shenpi_up', 'shenpi_up_show')
    })
    $('a.getmoney_info').click(function () {

        upShowInfo(this, 'div.getmoney_up', 'getmoney_up_show')
    })
    $('a.checkmoney_info').click(function () {

        upShowInfo(this, 'div.checkmoney_up', 'checkmoney_up_show')
    })

</script>
</html>