<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>确认提交</title>

</head>

<body>

<!--支付成功-->
<div class="submit_info">
    <div class="weui_icon_area" style="margin-bottom:0px;">
        <div class="lock_up_plate">
            <div class="lock_up_success">
                <img src="../../images/dingding/lock_up_head.png">
            </div>

            <div class="lock_up_green">
                <img src="../../images/dingding/lock_up_success.png">
            </div>
        </div>
    </div>
    <div class="weui_text_area" style="padding:0px;">
        <h2 class="msg_title_0718">锁定成功</h2>

        <p class="blue_text"><span class="lock_fonts">发票已成功锁定，请在</span><span style="color: #f3a597;">2017-12-28 9:28:30</span><span class="lock_fonts">之前完成提交，逾期将自动取消。</span><span></span></p>

        <!--底部按钮-->
        <div class="submit_btn_area">
            <p class="submit_btn">
                <a href="#" class="submit_btnone">稍后确认</a>
                <a href="../invoice/submit_success.html" class="submit_btntwo">下一步，确认提交</a>
            </p>

        </div>
    </div>
</div>


</body>
</html>
