<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>开票申请</title>


</head>
<body>

<div class="receivables_reservation_btn">
    <div class="recharge_balance">
        <img src="../../images/dingding/icon_warning.png">
        <span>已收款的预约申请将会优先排队哦</span>
    </div>

    <p class="ticket_application_fonts">请选择以下付款记录</p>

    <div class="payment_records customer_pay">

        <label> <input type="checkbox" class="aui-radio" name="customer_pay"></label>

        <div class="payment_lists" href="customer_receipt_records.html">
            <div class="payment_list">
                <div class="payment_info">
                    <div class="payment_info_name">
                        <span>未开票金额：</span>
                        <span>30000</span>
                    </div>
                    <div class="payment_info_name">
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;到账时间：</span>
                        <span>2018-01-17 22:00:21</span>
                    </div>
                    <div class="payment_info_name">
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;收款编号：</span>
                        <span>1001</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="payment_records customer_pay">

        <label> <input type="checkbox" class="aui-radio" name="customer_pay"></label>

        <div class="payment_lists" href="customer_receipt_records.html">
            <div class="payment_list">
                <div class="payment_info">
                    <div class="payment_info_name">
                        <span>未开票金额：</span>
                        <span>60000</span>
                    </div>
                    <div class="payment_info_name">
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;到账时间：</span>
                        <span>2018-01-17 22:00:21</span>
                    </div>
                    <div class="payment_info_name">
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;收款编号：</span>
                        <span>1002</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="payment_records customer_pay">

        <label> <input type="checkbox" class="aui-radio" name="customer_pay"></label>

        <div class="payment_lists" href="customer_receipt_records.html">
            <div class="payment_list">
                <div class="payment_info">
                    <div class="payment_info_name">
                        <span>未开票金额：</span>
                        <span>100000</span>
                    </div>
                    <div class="payment_info_name">
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;到账时间：</span>
                        <span>2018-01-17 22:00:21</span>
                    </div>
                    <div class="payment_info_name">
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;收款编号：</span>
                        <span>1003</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- 按钮 -->
    <div class="jf_fabiao_btn">
        <a class="jf_btn jf_btn_bespeak" href="application_bespeak.html">预约</a>
    </div>

    <p class="receivables_reservation_tips_font">温馨提示：一笔收款仅可用于预占一次</p>

</div>

</body>

</html>