<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>开票申请结束</title>

</head>

<body>

<!--支付成功-->
<div class="submit_info">
    <div class="weui_icon_area" style="margin-bottom:0px;">
        <div class="lock_up_plate">
            <div class="lock_up_green">
                <img src="../../images/dingding/search_none_ticket.png">
            </div>
        </div>
    </div>
    <div class="weui_text_area" style="padding:0px;">
        <p class="blue_text"><span class="lock_fonts">查无结果，下次早点来吧~</span><span></span></p>

        <!--底部按钮-->
        <div class="submit_btn_area">
            <p class="submit_btn">
                <a href="ticket_application_sum.html" class="submit_btntwo">重新搜索</a>
            </p>

        </div>
    </div>
</div>

<!---------以下开票内容-------->
<div class="edit_account result_for_new">

    <p class="ticket_application_fonts">不妨看看以下内容</p>

    <div class="payment_lists">

        <div class="payment_list">
            <div class="payment_info">
                <div class="payment_info_details">
                    <span>公司名称：</span>
                    <span>北京爱雅瑞德北京爱雅瑞德</span>
                </div>
                <div class="payment_info_details">
                    <span>开票金额：</span>
                    <span>800000</span>
                </div>
                <div class="payment_info_details">
                    <span>开票张数：</span>
                    <span>8张</span>
                </div>
            </div>
            <a class="payment_moneyvalue" href="application.html">
                <span class="bank_delete">开票</span>
            </a>

        </div>

        <div class="payment_list">
            <div class="payment_info">
                <div class="payment_info_details">
                    <span>公司名称：</span>
                    <span>上海开茂上海开茂上海开茂上海开茂</span>
                </div>
                <div class="payment_info_details">
                    <span>开票金额：</span>
                    <span>800000</span>
                </div>
                <div class="payment_info_details">
                    <span>开票张数：</span>
                    <span>8张</span>
                </div>
            </div>
            <a class="payment_moneyvalue" href="application.html">
                <span class="bank_delete">开票</span>
            </a>

        </div>

        <div class="payment_list">
            <div class="payment_info">
                <div class="payment_info_details">
                    <span>公司名称：</span>
                    <span>上海近鑫</span>
                </div>
                <div class="payment_info_details">
                    <span>开票金额：</span>
                    <span>800000</span>
                </div>
                <div class="payment_info_details">
                    <span>开票张数：</span>
                    <span>8张</span>
                </div>
            </div>
            <a class="payment_moneyvalue" href="application.html">
                <span class="bank_delete">开票</span>
            </a>

        </div>

    </div>


    <!---------客户近期付款记录-------->
    <p class="ticket_application_fonts">客户近期付款记录</p>

    <div class="payment_lists orange_color">

        <div class="payment_list">
            <div class="payment_info">
                <div class="payment_info_details">
                    <span>未开票金额：</span>
                    <span>30000</span>
                </div>
                <div class="payment_info_details">
                    <span>收款户名：</span>
                    <span>上海芈瑶企业服务有限公司</span>
                </div>
                <div class="payment_info_details">
                    <span>到账时间：</span>
                    <span>2018-01-17 22:00:21</span>
                </div>
                <p class="none_tickets_tips">暂无余票，可预约</p>
            </div>
            <a class="payment_moneyvalue" href="application_bespeak.html">
                <span class="bank_delete">预约</span>
            </a>

        </div>

        <div class="payment_list">
            <div class="payment_info">
                <div class="payment_info_details">
                    <span>未开票金额：</span>
                    <span>30000</span>
                </div>
                <div class="payment_info_details">
                    <span>收款户名：</span>
                    <span>上海芈瑶企业服务有限公司</span>
                </div>
                <div class="payment_info_details">
                    <span>到账时间：</span>
                    <span>2018-01-17 22:00:21</span>
                </div>
                <p class="none_tickets_tips">暂无余票，可预约</p>
            </div>
            <a class="payment_moneyvalue" href="application_bespeak.html">
                <span class="bank_delete">预约</span>
            </a>

        </div>

        <div class="payment_list">
            <div class="payment_info">
                <div class="payment_info_details">
                    <span>未开票金额：</span>
                    <span>30000</span>
                </div>
                <div class="payment_info_details">
                    <span>收款户名：</span>
                    <span>上海芈瑶企业服务有限公司</span>
                </div>
                <div class="payment_info_details">
                    <span>到账时间：</span>
                    <span>2018-01-17 22:00:21</span>
                </div>
                <p class="none_tickets_tips">暂无余票，可预约</p>
            </div>
            <a class="payment_moneyvalue" href="application_bespeak.html">
                <span class="bank_delete">预约</span>
            </a>

        </div>

    </div>

</div>


</body>
</html>
