<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>开票申请结束</title>

</head>

<body>

<!--支付成功-->
<div class="submit_info">
    <div class="weui_icon_area" style="margin-bottom:0px;">
        <div class="lock_up_plate">
            <div class="lock_up_green">
                <img src="../../images/dingding/search_none_ticket.png">
            </div>
        </div>
    </div>
    <div class="weui_text_area" style="padding:0px;">
        <p class="blue_text"><span class="lock_fonts">查无结果，下次早点来吧~</span><span></span></p>

        <!--底部按钮-->
        <div class="submit_btn_area">
            <p class="submit_btn">
                <a href="ticket_application_sum.html" class="submit_btntwo">重新搜索</a>
            </p>

        </div>
    </div>
</div>

<div class="jf_fapiao_lists">
    <!-- 申请公司信息-->
    <p class="ticket_application_fonts">不妨看看以下内容</p>

    <div class="company_name_lists">
        <label class="name_list company_jiayin">
            <div>
                <input type="radio" class="aui-radio" name="searchcompany" data-sale="谯">
            </div>
            <div>
                <p>北京爱雅瑞德</p>
                <p class="result_gray_fonts">
                    <span>开票金额<span>800000</span></span>

                    <span>张数<span>8张</span></span>
                </p>

            </div>

        </label>

        <label class="name_list">
            <div>
                <input type="radio" class="aui-radio" name="searchcompany" data-sale="李"/>
            </div>
            <div>
                <p>北京爱雅瑞德</p>
                <p class="result_gray_fonts">
                    <span>开票金额<span>800000</span></span>

                    <span>张数<span>8张</span></span>
                </p>

            </div>

        </label>

        <label class="name_list">
            <div>
                <input type="radio" class="aui-radio" name="searchcompany" data-sale="李"/>
            </div>
            <div>
                <p>北京爱雅瑞德</p>
                <p class="result_gray_fonts">
                    <span>开票金额<span>800000</span></span>

                    <span>张数<span>8张</span></span>
                </p>

            </div>

        </label>

    </div>
</div>

<div class="recent_records">

    <div class="recent_records_tittle">

        <p class="ticket_recent_records_fonts">客户近期付款记录</p>

        <div class="recent_bespeak">

            <p>

                <a class="bespeak_link" href="application_bespeak.html">去预约</a>

            </p>

        </div>


    </div>


    <div class="company_name_lists">

        <label class="name_list company_jiayin">

            <div>

                <input type="radio" class="aui-radio" name="recordscompany" data-sale="谯">

            </div>

            <div>

                <p class="recent_company_name recent_name">

                    <span><span>北京爱雅瑞德</span></span>


                </p>

                <p class="result_gray_fonts recent_money">

                    <span>未开票金额：<span>800000</span></span>

                </p>

                <p class="recent_time recent_time">

                    <span>到账时间：<span>2018-01-17 22:00:21</span></span>

                </p>

            </div>

        </label>


        <label class="name_list company_jiayin">

            <div>

                <input type="radio" class="aui-radio" name="recordscompany" data-sale="谯">

            </div>

            <div>

                <p class="recent_company_name recent_name">

                    <span><span>北京爱雅瑞德</span></span>


                </p>

                <p class="result_gray_fonts recent_money">

                    <span>未开票金额：<span>800000</span></span>

                </p>

                <p class="recent_time recent_time">

                    <span>到账时间：<span>2018-01-17 22:00:21</span></span>

                </p>

            </div>

        </label>


        <label class="name_list company_jiayin">

            <div>

                <input type="radio" class="aui-radio" name="recordscompany" data-sale="谯">

            </div>

            <div>

                <p class="recent_company_name recent_name">

                    <span><span>北京爱雅瑞德</span></span>


                </p>

                <p class="result_gray_fonts recent_money">

                    <span>未开票金额：<span>800000</span></span>

                </p>

                <p class="recent_time recent_time">

                    <span>到账时间：<span>2018-01-17 22:00:21</span></span>

                </p>

            </div>

        </label>





</div>

</body>
</html>
