<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>开票申请结束</title>

</head>

<body>

<!--支付成功-->
    <div class="submit_info">
        <div class="weui_icon_area" style="margin-bottom:0px;">
            <div class="swal2-icon swal2-success animate"> <span class="line tip animate-success-tip"></span> <span class="line long animate-success-long"></span>
                <div class="placeholder"></div>
                <div class="fix"></div>
            </div>
        </div>
        <div class="weui_text_area" style="padding:0px;">
            <h2 class="msg_title_0718">提交成功</h2>

            <!--底部按钮-->
            <div class="submit_btn_area">
                <p class="submit_btn">
                    <a href="application.html" class="submit_btnone">再次申请</a>
                    <a href="kaipiao_lookup.html" class="submit_btntwo">查看开票申请记录</a>
                </p>

            </div>
        </div>
    </div>

<!--刷新按钮-->
<a class="refresh_btn" href="../main/invoice_main.html">
    <img src="../../images/dingding/icon_nav_home_black.png">
    <p>返回首页</p>
</a>
</body>
</html>
