<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>开票申请结束</title>
</head>

<body style="overflow:hidden;">

<!--支付成功-->
<div class="submit_info">
    <div class="weui_icon_area" style="margin-bottom:0px;">
        <div class="swal2-icon swal2-error animate-error-icon">
          <span class="x-mark animate-x-mark">
            <span class="line left"></span>
            <span class="line right"></span>
          </span>
        </div>
    </div>
    <div class="weui_text_area" style="padding:0px;">
        <h2 class="msg_title_0718">提交失败</h2>

        <!--底部按钮-->
        <div class="submit_btn_area">
            <p class="submit_btn">
                <a href="../Dingding/application.html" class="submit_failone">再次申请</a>
                <a href="../main/invoice_main.html" class="submit_failtwo">返回首页</a>
            </p>

        </div>
    </div>
</div>
</body>
</html>
