<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>开票申请结束</title>

</head>

<body>

<!--支付成功-->
<div class="submit_info">
    <div class="weui_icon_area" style="margin-bottom:0px;">
        <div class="ticket_fly">
            <img src="../../images/dingding/ticket_fly.png">
        </div>
    </div>
    <div class="weui_text_area" style="padding:0px;">
        <p class="ticket_fly_fonts">手慢了，票飞走了......</p>

        <!--底部按钮-->
        <div class="submit_btn_area">
            <p class="submit_btn">
                <a href="ticket_application_sum.html" class="submit_btntwo">重新申请</a>
            </p>

        </div>
    </div>
</div>


</body>
</html>
