<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>查重</title>
</head>
<body>

<!--固定顶部搜索-->

<div class="fixed_top">

    <div class="top_search_mian">
        <a class="left" onclick="window.history.go(-1)"><img src="../../images/dingding/icon_pay_return.png"/></a>
        <div class="center">
            <label> <i class="weui_icon_search"><img src="../../images/dingding/icon_search.png"></i>
                <input type="search" placeholder="请输入查找的内容" class="search_input"/>
                <a class="weui_icon_clear" id="text_cancle">×</a>
            </label>
        </div>
        <a class="right">搜索</a>
    </div>

    <div class="bar"></div>

</div>

<div class="check_repetition_amite">
    
    <div class="amite_img_plate">
        <img src="../../images/dingding/none_query.png">
    </div>

    <p class="blue_text"><span class="lock_fonts">查询结果数量太多，请填写更详细的关键字吧</span></p>
    
</div>







</body>
</html>