<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>查重</title>
</head>
<body>

<!--固定顶部搜索-->

<div class="fixed_top">

    <div class="top_search_mian">
        <a class="left" onclick="window.history.go(-1)"><img src="../../images/dingding/icon_pay_return.png"/></a>
        <div class="center">
            <label> <i class="weui_icon_search"><img src="../../images/dingding/icon_search.png"></i>
                <input type="search" placeholder="请输入查找的内容" class="search_input"/>
                <a class="weui_icon_clear" id="text_cancle">×</a>
            </label>
        </div>
        <a class="right">搜索</a>
    </div>

    <div class="bar"></div>

</div>

<div class="check_company_list check_list_btn">

    <!--没有结果的状态-->

 <!--   <p>查询结果数量太多，请填写更详细的关键字吧~</p>-->

    <!--存在查询结果的状态-->
    <div class="payment_list">
        <div class="payment_info">
            <div class="payment_info_details company_name_font">
                <span>北京一控科技有限公司</span>
            </div>
            <div class="payment_info_details">
                <span>所属部门：</span><span>上海一部</span>
            </div>
            <div class="payment_info_details">
                <span>企业来源：</span><span>线下</span>
            </div>
            <div class="payment_info_details">
                <span>创建时间：</span><span>2017-03-09 15:23</span>
            </div>
        </div>

        <a class="payment_moneyvalue" href="sales_relationship_fail.html">
            <span class="bank_delete">获取</span>
        </a>
    </div>

    <div class="payment_list">
        <div class="payment_info">
            <div class="payment_info_details company_name_font">
                <span>南京一控科技有限公司</span>
            </div>
            <div class="payment_info_details">
                <span>所属部门：</span><span>深圳分部</span>
            </div>
            <div class="payment_info_details">
                <span>企业来源：</span><span>北京薪酬宝</span>
            </div>
            <div class="payment_info_details">
                <span>创建时间：</span><span>2017-06-19 17:56</span>
            </div>
        </div>
    </div>



</div>







</body>
</html>