<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>充值订单查询</title>
</head>
<body>

<nav class="Top_navigation">
    <div class="weui_tab_bd"></div>
    <div class="container_tab">
        <a onclick="window.history.go(-1)">
            <div class="nav_left"><img src="../../images/dingding/icon_pay_return.png"/></div>
        </a>
        <div class="nav_center">
            <div>提成记录</div>
        </div>
        <a href="search_commission_record.html">
            <div class="nav_right"><img src="../../images/dingding/icon_search_white.png"></div>
        </a>
    </div>
</nav>


<!--中间部分-->
<div>


    <!--订单详细-->
    <div class="getmoney_details_lists">

        <!--list-->
        <a class="kaipiao_lsit" href="pay_order_info.html">
            <div class="list_left listone">

                <!--上-->
                <div class="list_top">
                    <div>
                        <p>
                            <span>订单编号：</span>
                            <span>10000000006256</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>业务类型：</span>
                            <span>福利</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>企业名称：</span>
                            <span>上海淘略数据处理有限公司</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>订单总金额：</span>
                            <span>50,000</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>订单状态：</span>
                            <span>已审批</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>销售代表：</span>
                            <span>何云东</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>销售服务费率：</span>
                            <span>4%</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>导入时间：</span>
                            <span>2017/04/01 10:00:00</span>
                        </p>
                    </div>
                </div>

            </div>
        </a>
        <!--list-->
        <a class="kaipiao_lsit" href="pay_order_info.html">
            <div class="list_left listone">

                <!--上-->
                <div class="list_top">
                    <div>
                        <p>
                            <span>订单编号：</span>
                            <span>10000000006256</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>业务类型：</span>
                            <span>福利</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>企业名称：</span>
                            <span>上海淘略数据处理有限公司</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>订单总金额：</span>
                            <span>50,000</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>订单状态：</span>
                            <span>已审批</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>销售代表：</span>
                            <span>何云东</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>销售服务费率：</span>
                            <span>4%</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>导入时间：</span>
                            <span>2017/04/01 10:00:00</span>
                        </p>
                    </div>
                </div>

            </div>
        </a>

        <!--list-->
        <a class="kaipiao_lsit" href="pay_order_info.html">
            <div class="list_left listone">

                <!--上-->
                <div class="list_top">
                    <div>
                        <p>
                            <span>订单编号：</span>
                            <span>10000000006256</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>业务类型：</span>
                            <span>代购</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>企业名称：</span>
                            <span>上海淘略数据处理有限公司</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>订单总金额：</span>
                            <span>50,000</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>订单状态：</span>
                            <span>已审批</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>销售代表：</span>
                            <span>何云东</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>销售服务费率：</span>
                            <span>4%</span>
                        </p>
                    </div>
                </div>
                <div class="list_top">
                    <div>
                        <p>
                            <span>导入时间：</span>
                            <span>2017/04/01 10:00:00</span>
                        </p>
                    </div>
                </div>

            </div>
        </a>



    </div>

    <!--刷新按钮-->
    <a class="refresh_btn" href="commission_record.html">
        <img src="../../images/dingding/refresh.png">
        <p>刷新</p>
    </a>



</div>










</body>


</html>