<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>收款明细</title>

</head>
<body>


<!--中间部分-->

<!--信息1-->
<div class="jf_fapiao_lists">
    <!-- list 1-->
    <a class="jf_list">
        <div class="jf_list_bd">
            <p>收款编号</p>
        </div>
        <div class="jf_list_ft"> <p>1000005815585</p></div>
    </a>

    <!-- list 2-->
    <a class="jf_list" >
        <div class="jf_list_bd">
            <p>收款户名</p>
        </div>
        <div class="jf_list_ft"> <p>上海淘略数据处理有限公司</p></div>
    </a>

    <!--4-->
    <a class="jf_list">
        <div class="jf_list_bd">
            <p>收款账号</p>
        </div>
        <div class="jf_list_ft"> <p >1256366612564623565</p></div>
    </a>
    <!--5-->
    <a class="jf_list">
        <div class="jf_list_bd">
            <p>付款户名</p>
        </div>
        <div class="jf_list_ft"> <p>上海淘略数据处理有限公司</p></div>
    </a>


    <a class="jf_list">
        <div class="jf_list_bd">
            <p >付款账号</p>
        </div>
        <div class="jf_list_ft"><p>3256486286258625546</p></div>
    </a>


    <a class="jf_list">
        <div class="jf_list_bd">
            <p>付款企业</p>
        </div>
        <div class="jf_list_ft"> <p>上海淘略数据处理有限公司</p></div>
    </a>
    <a class="jf_list">
        <div class="jf_list_bd">
            <p>企业编号</p>
        </div>
        <div class="jf_list_ft"> <p>496265632663</p></div>
    </a>
    <a class="jf_list">
        <div class="jf_list_bd">
            <p>销售代表</p>
        </div>
        <div class="jf_list_ft"> <p>何云东</p></div>
    </a>
    <a class="jf_list">
        <div class="jf_list_bd">
            <p>金额（元）</p>
        </div>
        <div class="jf_list_ft"> <p>20,000</p></div>
    </a>

    <a class="jf_list">
        <div class="jf_list_bd">
            <p>未开票金额（元）</p>
        </div>
        <div class="jf_list_ft jf_list_text"> <p>500.00</p></div>
    </a>
    <a class="jf_list">
        <div class="jf_list_bd">
            <p>付款时间</p>
        </div>
        <div class="jf_list_ft jf_list_text"> <p>2017-01-01 10:00:00</p></div>
    </a>





</div>







</body>

<script>

</script>
</html>