<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>绩效详情</title>
</head>
<body>




<!--中间部分-->
<div>
    <div class="getmoney_details">
        <p class="getmoney_day">
            <span>发放时间<input type="date" class="date_input" placeholder="请输入日期"/></span>
            <span>至<input type="date" class="date_input" placeholder="请输入日期"/></span>
        </p>
        <label class="jf_list">
            <div class="jf_list_bd">
                <p>绩效类型</p>
            </div>
            <div class="jf_list_ft jf_list_arrow">
                <select>
                    <option>全部</option>
                    <option>订单提成</option>
                    <option>开户提成</option>
                    <option>大区绩效</option>
                </select>
            </div>
        </label>


    </div>

    <div class="payment_records">
        <div class="payment_lists">
            <a class="payment_list" href="order_commission.html">
                <div class="payment_info">
                    <div class="payment_info_details">
                        <span>返佣类型：</span>
                        <span>订单提成</span>
                    </div>
                    <div class="payment_info_details">
                        <span>发放时间：</span>
                        <span>2017/09/09</span>
                    </div>
                </div>
                <div class="payment_moneyvalue company_pay show_more">
                    <span>140000.00</span>
                </div>
            </a>

            <a class="payment_list" href="new_account_commission.html">
                <div class="payment_info">
                    <div class="payment_info_details">
                        <span>返佣类型：</span>
                        <span>开户提成</span>
                    </div>
                    <div class="payment_info_details">
                        <span>发放时间：</span>
                        <span>2017/07/07</span>
                    </div>

                </div>
                <div class="payment_moneyvalue company_pay show_more"><span>4500</span></div>
            </a>

            <a class="payment_list" href="performance_commission.html">
                <div class="payment_info">
                    <div class="payment_info_details">
                        <span>返佣类型：</span>
                        <span>大区绩效</span>
                    </div>
                    <div class="payment_info_details">
                        <span>发放时间：</span>
                        <span>2017/04/01</span>
                    </div>
                </div>
                <div class="payment_moneyvalue company_pay show_more"><span>10000.00</span></div>
            </a>

        </div>

    </div>
</div>




<script>

</script>
</body>
</html>