<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>查重</title>
</head>
<body>

<div class="jf_fapiao_lists">

    <div class="sales_relationship_list">
        <div class="left_icon_plate">
            <img src="../../images/dingding/icon_right_blue.png"> <!--验证成功icon图片地址-->
        </div>

        <p class="sales_relationship_font">客户注册日期/转移日期已超过14天；</p>
    </div>

    <div class="sales_relationship_list">
        <div class="left_icon_plate">
            <img src="../../images/dingding/icon_fail_red.png"> <!--验证失败icon图片地址-->
        </div>

        <p class="sales_relationship_font">客户在平台签订采购协议/福利协议已超过28天；</p>
    </div>

    <div class="sales_relationship_list">
        <div class="left_icon_plate">
            <img src="../../images/dingding/loading_gif.gif"> <!--验证中icon图片地址-->
        </div>

        <p class="sales_relationship_font">客户用个人银行卡打款，完成账户充值大于1万元，已超过90天；</p>
    </div>

    <div class="sales_relationship_list">
        <div class="left_icon_plate">
            <img src="../../images/dingding/loading_gif.gif"> <!--验证中icon图片地址-->
        </div>

        <p class="sales_relationship_font">客户用公司对公银行账户打款已超过180天；</p>
    </div>

</div>


<div class="jf_fabiao_btn">
    <a class="jf_btn jf_btn_gray" href="#">获取</a> <!--将 jf_btn_gray 改成 jf_btn_blue ，按钮变为蓝色-->
</div>



</body>
</html>