<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>开票申请结束</title>

</head>

<body>

<!--支付成功-->
<div class="submit_info">
    <div class="weui_icon_area" style="margin-bottom:0px;">
        <div class="lock_up_plate">
            <div class="lock_up_fail">
                <img src="../../images/dingding/lock_fail_head.png">
            </div>

            <div class="lock_up_red">
                <img src="../../images/dingding/lock_up_fail.png">
            </div>
        </div>
    </div>
    <div class="weui_text_area" style="padding:0px;">
        <h2 class="msg_title_0718">锁定失败</h2>

        <p class="blue_text"><span class="lock_fonts">该企业目前还有已锁定未确认的订单，您可以在申请记录中取消相应订单后继续预定</span><span></span></p>

        <!--底部按钮-->
        <div class="submit_btn_area">
            <p class="submit_btn">
                <a href="#" class="submit_btnone">退出</a>
                <a href="../invoice/kaipiao_lookup.html" class="submit_btntwo">查看订单</a>
            </p>

        </div>
    </div>
</div>


</body>
</html>
