<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>销售管理系统</title>

</head>
<body>
<div class="invoice_main">
    <!--title-->
    <div class="invoice_box">
        <div class="invoice_title">销售管理系统</div>
        <!-- -->
        <div class="project">
            <a href="../invoice/kaipiao_lookup.html" >
                <p>12</p>
                <p>待审批</p>
            </a>
            <a href="../invoice/kaipiao_lookup.html">
                <p>45</p>
                <p>待开票</p>
            </a>
            <a href="../invoice/kaipiao_lookup.html">
                <p>5</p>
                <p>未关联收款</p>
            </a>
        </div>
        <div class="project">
            <a class="pay_num">
                <p>个人已用额度（元）</p>
                <p>1000</p>
            </a>
           <a class="pay_num">
                <p>个人可用额度（元）</p>
                <p>538,000.65</p>
            </a>
        </div>
    </div>
    <!--box-->

    <div>


    <div class="main_box">
        <!--title-->
        <div><p>开</p> <p>票</p></div>

        <!--开票-->
        <div>
            <a href="../invoice/application.html">
                <img src="../../images/dingding/inv_icon_6.png">
                <p>开票申请</p>
            </a>
            <a href="../invoice/kaipiao_lookup.html" >
                <img src="../../images/dingding/inv_icon_5.png">
                <p>申请记录</p>
            </a>
        </div>

    </div>

    <!--box-->
    <div class="main_box">
        <!--title-->
        <div><p>垫</p> <p>资</p></div>

        <!--垫资-->
        <div>
            <a href="../advance_fund/company_pay.html">
                <img src="../../images/dingding/inv_icon_7.png">
                <p>企业垫资</p>
            </a>
            <a href="../advance_fund/company_pay_records.html">
                <img src="../../images/dingding/inv_icon_8.png">
                <p>垫资记录</p>
            </a>
            <a href="../advance_fund/account_management.html">
                <img src="../../images/dingding/inv_icon_9.png">
                <p>银行卡管理</p>
            </a>
        </div>

    </div>

    <!--box-->
    <div class="main_box">
        <!--title-->
        <div><p>数</p> <p>据</p></div>

        <!--订单查询-->

        <div>

            <a href="../data/company_info.html">
                <img src="../../images/dingding/icon_company.png">
                <p>企业信息</p>
            </a>



            <a href="../data/pay_order_lookup.html">
                <img src="../../images/dingding/inv_icon_10.png">
                <p>充值订单</p>
            </a>

            <a href="../data/customer_pay_records.html">
                <img src="../../images/dingding/icon_client.png">
                <p>客户付款记录</p>
            </a>

            <a href="../data/performance_record.html">
                <img src="../../images/dingding/icon_performance.png">
                <p>绩效记录</p>
            </a>

            <a href="../data/check_repetition.html">
                <img src="../../images/dingding/icon_check_repetition.png">
                <p>客户查重</p>
            </a>

          <!--  <a href="../data/commission_record.html">
                <img src="../../images/dingding/icon_market.png">
                <p>销售返佣</p>
            </a>-->

        </div>

    </div>
    </div>
</div>
</body>


</html>